body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier Prime', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000; /* fallback color if particles.js fails to load */
    user-select: none;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    width: 80%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#sidebar {
    width: 30%;
    padding: 20px;
}

#main-conversation {
    width: 65%;
    padding: 20px;
}

.h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.text-blue {
    color: #007BFF;
}

#send-message-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#message {
    padding: 10px;
    font-size: 1.2em;
    width: 80%;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
}

#start-conversation {
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.3s;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #007BFF;
    margin-top: 10px;
}

#start-conversation:hover {
    transition: all 0.3s ease;
    background: #0056b3;
}

#messages {
    height: 60vh;
    overflow-y: scroll;
    margin-bottom: 2em;
    border: 1px solid #007BFF;
    border-radius: 5px;
    padding: 1em;
    color: #000;
    background-color: #fff;
}

#logout-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

#logout-form input[type=submit] {
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.3s;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #dc3545;
}

#logout-form input[type=submit]:hover {
    transition: all 0.3s ease;
    background: #b22234;
}
